/* myStyle.css */

body {
    /*background-image: url("/picture/background.jpg"); */
    background-color: #F08080;
    /*background-size: cover; */
    margin: auto;
}
h1, p, a, form, div {
  font-family: 'Montserrat';
  text-decoration: none;
}

.header {
  background: rgb(238,31,31);
  background: linear-gradient(180deg, rgba(238,31,31,1) 0%, rgba(202,51,105,1) 100%);
  padding: 20px 220px;
  position: absolute;
      top: 0%;
      left: 0%;
      margin: auto;
}

.header h1 {
  margin: 0;
  color: white;
  font-size: 20px;
}

#navigation {
    text-align: right;
    display: block;
    top: 0;

}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: transparent;
}
.flex-container > div {
  background: transparent;
  width: 50px;
  margin: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 18 px;
  border-radius: 7px;
  border-color: white;
  border-style: solid;
  border-line:thin;
  padding: 10px;
}

#start h2 {
    color: white;

}

#navigation .flex-container >div > a:link {
    color: white;
}

#navigation .flex-container >div > a:hover {
    color: yellow;
}

#navigation .flex-container >div > a:visited {
  color: white;
}